.signIn {
  display: flex;
  justify-content: space-around;
}
.logoSection {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('https://imgur.com/Pi6j1NV.jpg');
  background-size: cover;
  background-position: center;
  width: 60%;
  height: 100vh;
}

.logo__layout {
  text-align: center;
  margin-bottom: 3rem;
}

.logo {
  width: 50%;
  height: auto;
}

.formSection {
  width: 30%;
  margin: 10% auto auto;
}

.heading {
  text-align: center;
  color: var(--main-color--light);
  font-weight: bold;
}

@media (max-width: 600px) {
  .signIn {
    margin: 23% 10%;
  }

  .formSection {
    margin: 20% auto auto;
    width: 100%;
  }

  .logoSection {
    display: none;
  }

  .heading {
    margin-bottom: 10rem;
  }
}
