.signin {
  margin: 15% 30%;
}

.heading {
  text-align: center;
  font-family: 'Nexa bold';
}

.signin__button {
  text-align: center;
}

@media (max-width: 600px) {
  .signin {
    margin: 45% 10%;
  }
}
