.signUp {
  display: flex;
  justify-content: space-around;
}
.logoSection{
  margin-top: 1rem;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url('https://imgur.com/N2rrCNF.jpg');
  background-size: cover;
  background-position: center;
  width: 60%;
}
.formSection{
  width: 30%;
  margin: 2rem;  
}

.heading {
  text-align: center;
  color: var(--main-color--light);
  font-weight: bold;
}
.signUpBtn{
  text-align: center;
}
.hasAccount{
  text-align: center;
  color: var(--main-black);
  font-family: 'roboto';
}
.signin {
  display: inline;
  font-size: 1.2rem;
  margin-left: 0.5rem;
  color: var(--main-color--light);
}

@media (max-width: 600px) {
  .signUp {
    margin: 20% 10%;
  }
  
  .heading {
    margin-bottom: 10rem;
  }

  .signin{
    font-size: 4rem;
    margin-left: 1rem;
  }
}